<section layout="column" layout-gt-xs="row">
  <md-input-container class="md-block" flex="50">
    <label>Minimum</label>
    <input
      type="text"
      ng-model="item.inputValue.min"
      ui-number-mask="0"
      ui-hide-group-sep
      aria-label="Number"
      />
  </md-input-container>
  <md-input-container class="md-block" flex="50">
    <label>Maximum</label>
    <input
      type="text"
      ng-model="item.inputValue.max"
      ui-number-mask="0"
      ui-hide-group-sep
      aria-label="Number"
       />
  </md-input-container>
</section>
