block main_container
	h1 About Sinais

	ul.about-sinais-items
		li 
			div.title What is it?
			div.content Text goes here
		li 
			div.title Goals
			div.content Text goes here
		li 
			div.title etc
			div.content Text goes here

	// Provides extra visual weight and identifies the primary action in a set of buttons 
	button(class='btn btn-primary', type='button') botao bootstrap
	p Main container #{title} #{title}

	script.
		$('.btn').on('click', function(){
			alert('jquery 2.1.0 rolling');
		});
	p texto
