<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-indigo">
    <md-button>
      <i class="fa fa-user"></i>Rodolfo
    </md-button>
  </md-toolbar>
  <md-content layout-padding layout="column">
    <md-button class="md-primary" ng-href="{{links.explore}}">Explore</md-button>
    <md-button class="md-primary" ng-href="{{links.download}}">Download</md-button>
    <md-button class="md-primary" ng-href="{{links.about}}">About</md-button>
    <md-button class="md-primary" ng-href="{{links.contacts}}">Contacts</md-button>
    <md-button class="md-primary" ng-href="{{links.login}}">Log In</md-button>
  </md-content>
</md-sidenav>
