<!-- navigation between the collections -->
<md-button class="md-primary" ng-href="{{links.explore}}">
  <i class="fa fa-database" hide-gt-sm></i>
  Explore
</md-button>
<md-button class="md-primary" ng-href="{{links.download}}">
  <i class="fa fa-cloud-download" hide-gt-sm></i>
  Download
</md-button>
<md-button class="md-primary" ng-href="{{links.about}}">
  <i class="fa fa-info" hide-gt-sm></i>
  About
</md-button>
<md-button class="md-primary" ng-href="{{links.contacts}}">
  <i class="fa fa-phone" hide-gt-sm></i>
  Contacts
</md-button>
