<md-toolbar class="short">
  <div class="md-toolbar-tools">
    <md-icon hide-gt-sm class="md-primary" aria-label="Menu" ng-click="openLeftNav()">
      <i class="fa fa-bars"></i>
    </md-icon>

    <section hide show-gt-sm>
      <oph-main-navigation></oph-main-navigation>
    </section>

    <span flex></span>

    <md-button class="md-icon-button" aria-label="Download CSV">
      <md-tooltip md-direction="bottom">Profile</md-tooltip>
      <md-icon class="fa fa-user"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Download CSV">
      <md-tooltip md-direction="bottom">Logout</md-tooltip>
      <md-icon class="fa fa-sign-out"></md-icon>
    </md-button>
  </div>
</md-toolbar>
