<md-toolbar class="short">
  <div class="md-toolbar-tools">
    <md-icon hide-gt-sm class="md-primary" aria-label="Menu" ng-click="openLeftNav()">
      <i class="fa fa-bars"></i>
    </md-icon>

    <section hide show-gt-sm>
      <oph-main-navigation></oph-main-navigation>
    </section>

    <span flex></span>

    <md-button class="md-icon-button" aria-label="Filters" ng-click="toggleFiltersContainer()">
      <md-tooltip md-direction="bottom">Filters</md-tooltip>
      <md-icon class="fa fa-filter"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Raw data">
      <md-tooltip md-direction="bottom">Raw data</md-tooltip>
      <md-icon class="fa fa-list"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Chart preview">
      <md-tooltip md-direction="bottom">Chart preview</md-tooltip>
      <md-icon class="fa fa-line-chart"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Download JS">
      <md-tooltip md-direction="bottom">Download JS</md-tooltip>
      <md-icon class="fa fa-cloud-download"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Download CSV">
      <md-tooltip md-direction="bottom">Download CSV</md-tooltip>
      <md-icon class="fa fa-cloud-download"></md-icon>
    </md-button>
  </div>
</md-toolbar>
