extends ../template

block main_wrapper
	div(ng-controller="ExplorerCtrl" class="data-explorer datasets-container-js" flex layout="row")
		block side_nav
			oph-explorer-side-nav(flex)

		block main_container
			div(layout="column" flex)
				// data actions
				oph-explorer-actions(sticky)

				// filters area
				oph-filters-container

				// data preview on chart
				oph-chart(class="data-preview" ng-show="mode == 'chart'")

				// data preview on table
				oph-list(class="data-preview" ng-show="mode == 'table'")

block append js
	script(src="build/explorer-bundle.js")
