
<md-toolbar class="short">
  <div class="md-toolbar-tools datasets-picker-js">
    <md-button aria-label="Energy Consumption" ng-click="previewDatasetData('power_sample')">
      Energy Consumption
    </md-button>
    <md-button aria-label="Power event" ng-click="previewDatasetData('power_event')">
      Power event
    </md-button>
    <md-button aria-label="User event" ng-click="previewDatasetData('user_event')">
      User event
    </md-button>
    <md-button aria-label="Electricity Production" ng-click="previewDatasetData('electric_production')">
      Electricity Production
    </md-button>
    <md-button aria-label="Environmental" ng-click="previewDatasetData('environmental')">
      Environmental
    </md-button>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite" title="Favorite" ng-click="toggleFiltersContainer()">
      <i class="fa fa-filter"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Raw data" title="Raw data">
      <i class="fa fa-list"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Graph preview" title="Graph preview">
      <i class="fa fa-line-chart"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Download JS" title="Download JS">
      <i class="fa fa-cloud-download"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Download CSV" title="Download CSV">
      <i class="fa fa-cloud-download"></i>
    </md-button>
  </div>
</md-toolbar>
