body {
  padding-top: 0px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}
p {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}
.header {
  min-height: 10px;
  height: 40px;
}
.header md-content {
  height: inherit;
}
.header .main-title {
  margin: 0px;
  padding: 0px;
}
.header .main-title a {
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
}
.inline-list li {
  list-style: none;
  display: inline-block;
}
ul {
  padding: 0px;
  margin: 0px;
}
.sinais-logo {
  width: 170px;
  height: 100px;
}
.wrap-content {
  display: block;
}
.wrap-content .left-container {
  display: inline-block;
  float: left;
  width: 20%;
  min-width: 170px;
  padding: 10px;
}
.wrap-content .main-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.main-container .about-sinais-items {
  margin: 0px;
  padding: 0px;
}
.main-container .about-sinais-items li {
  list-style: none;
  display: block;
  min-height: 55px;
}
.main-container .about-sinais-items li .title {
  text-align: right;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;
  font-weight: bold;
  width: 10%;
  min-width: 100px;
}
.main-container .about-sinais-items li .content {
  text-align: justify;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  padding-left: 102px;
}
.footer {
  padding: 10px;
  border-top: 1px solid gray;
}
.footer p {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-top: gray;
}
.link,
a {
  font-size: 12px;
  color: #428bca;
  cursor: pointer;
}
.link:hover,
a:hover {
  text-decoration: none;
}
form .required::after {
  content: "*";
  right: 0px;
  top: 10px;
  border: 0px solid;
  position: absolute;
  color: red;
}
.left-side-navigation {
  box-shadow: none!important;
  max-width: 180px;
}
.left-side-navigation .centered-toolbar button {
  width: 100%;
  text-transform: initial;
}
.left-side-navigation .centered-toolbar button i {
  margin-right: 5px;
}
.left-side-navigation .content {
  margin: 0px;
  padding-top: 10px;
  height: 100%;
}
.left-side-navigation .content a {
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
  font-size: 11px;
  text-align: left;
  width: 100%;
  border-radius: 0px;
}
.left-side-navigation .content a i {
  min-width: 15px;
}
