div.canvas-container
	canvas(id="myChart" width="900" height="500" style="margin-left: auto; margin-right: auto; width: 400px;")

block extend_js
	script.
		$(function(){
			var records = !{JSON.stringify(records)};
			buildGraph(records);
		});
