div.search-container-js
	ul(class="datasets-picker datasets-picker-js inline-list ")
		li(data-option="energy_consumption")
			a.active Energy Consumption
		li(data-option="power_event")
			a Power event
		li(data-option="user_event")
			a User event
		li(data-option="electric_production")
			a Electricity Production
		li(data-option="environmental_data")
			a Environmental
