div.search-container-js
	ul(class="datasets-picker datasets-picker-js inline-list ")
		li(data-option="energy_consumption")
			a.active Energy Consumption
		li(data-option="power_event")
			a Power event
		li(data-option="user_event")
			a User event
		li(data-option="electric_production")
			a Electricity Production
		li(data-option="environmental_data")
			a Environmental
			
			
		//
			li(data-option="demographic")
				a Demographic features
			li(data-option="energy_production")
				a Electric energy production
			li(data-option="energy_consumption_sum")
				a Energy consumption summary
			li(data-option="power_event_sum")
				a Power events summary
			li(data-option="eco_feedback")
				a Summary of the interactions with eco-feedback