extends ../template

block main_container
	div.datasets-container-js
		div.datasets-nav
			include datasetsNav.jade

		include mainContainer.jade

block extend_js
	script(src="build/explorer-bundle.js")
