div(class="alert alert-warning" role="alert")
	p
		| This data belongs to the local electric company (
		a(href="http://www.eem.pt/" target="_blank") EEM
		| ) , and it is not available for download at this time.

table(class="table table-striped list-records")
	thead
		tr
			for field in fields
				th #{field}
	tbody
		for row in records
			tr
				for field in fields
					block flag
						- var flag = false;
					each value, key in row
						if key == field
							block flag_
								- flag = true;
							td #{value}
					if flag == false
						td

block extend_js
	script.
		$(function(){
			$('.operation-opts-js .separator-js').hide();
			$('.operation-opts-js .download-csv-js').hide();
			$('.operation-opts-js .download-js').hide();
		});
