doctype html
html
head
	title= title

	block css
		// css
		link(rel='stylesheet', href='/css/jquery-ui-custom/jquery-ui-custom.min.css')
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/template.css')
		link(rel='stylesheet', href='/css/horizontalNav.css')
		link(rel='stylesheet', href='/css/user.css')
		link(rel='stylesheet', href='/css/datasetExplorer.css')
		link(rel='stylesheet', href='/css/about.css')
		link(rel='stylesheet', href='/css/directDownload.css')
		link(rel='stylesheet', href='/css/contacts.css')
		link(rel='stylesheet', href='/css/timeline.css')

	block js
		// javascript
		script(src="/components/jquery/dist/jquery.js")
		script(src="/components/bootstrap/dist/js/bootstrap.js")
		script(src="/components/jquery-ui/jquery-ui.js")
		script(src="/components/blockUI/jquery.blockUI.js")
		script(src="/components/Chart.js/Chart.js")
		script(src="/components/spin.js/spin.js")
		script(src="components/timepicker/dist/jquery-ui-timepicker-addon.min.js")

		script(src="/js/min/allinone.min.js")
		
		if ENV_DEVELOPMENT
			script(src='http://localhost:35729/livereload.js')

	body
		div#site-url(data-site_url='#{config.web.site_url}:#{config.web.port}')

		include template/header.jade

		div.wrap-content
			div.main-container
				block main_container

		include template/footer.jade

		// General jquery UI dialogs
		div#errors-container-js

		div#success-messages-js

		div#data-consult-form-dialog-js

		div#slider(style="display: none")
