<md-dialog aria-label="Filters" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Search filters</h2>
        <span flex></span>
        <md-button
          class="md-icon-button"
          aria-label="Cancel"
          ng-click="cancel()"
          >
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content explorer-filters">
        <oph-accordion data-items="filterItems"></oph-accordion>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>

      <select class="aggregation-select form-control" name="groupBy" ng-model="search.groupBy">
        <option value="">None</option>
        <option
          ng-repeat="(key, value) in aggregationBy"
          value="{{ key }}"
          >
          {{ value }}
        </option>
      </select>

      <md-button
        ng-click="cancel()"
        aria-label="Cancel"
        >
       Cancel
      </md-button>
      <md-button
        ng-click="searchData()"
        aria-label="Search"
        style="margin-right:20px;"
        >
        Search
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
