div.search-container-js
	div.search-title
		div(class="datasets-picker datasets-picker-js")
			ul(class="nav nav-pills nav-stacked")
				li(data-option="energy_consumption")
					a Energy Consumption
				li(data-option="power_event")
					a Power event
				li(data-option="user_event")
					a User event