extends ../template

block main_container
	div(class="datasets-container-js" ng-controller="ExplorerctrlCtrl")
		div.datasets-nav
			include datasetsNav.jade

		include mainContainer.jade

block append js
	script(src="build/explorer-bundle.js")
