extends ../template

block main_wrapper
	div(ng-controller="ExplorerCtrl as explCtrl" class="data-explorer datasets-container-js" flex layout="row")
		block side_nav
			oph-explorer-side-nav(flex)

		block main_container
		// data preview
		oph-list(class="data-preview" flex)

block append js
	script(src="build/explorer-bundle.js")
