extends ../template

block main_container

	div(class="data-explorer datasets-container-js" ng-controller="ExplorerCtrl" layout="column")
		// actions bar
		oph-explorer-actions-bar.actions-bar

		// data preview
		oph-explorer-list.data-preview

block append js
	script(src="build/explorer-bundle.js")
