div(class="operation-opts operation-opts-js")
	ul.inline-list
		li
			img(src="/icons/empty_filter_blue.png" class="small filter-js" alt="Filter" title="Filter")
		li
			img(src="/icons/list.png" class="small listing-js" alt="Listing" title="Listing")
		li
			img(src="/icons/chart_line.png" class="small chart-js" alt="Graphic" title="Graphic")
		li
			img(src="/icons/vertical_line.png" class="separator separator-js")
		li
			img(src="/icons/json_blue_1.png" class="medium download-js" data-extension="js" alt="Download JSON" title="Download JSON")
		li
			img(src="/icons/csv_blue_1.png" class="medium download-csv-js" data-extension="csv" alt="Download CSV" title="Download CSV")

// content loaded via ajax
div.content
	oph-explore-list
		| sdfdsfdsfdsfdfdsfs
