extends ../template

block main_container
	div.contacts-container(layout-gt-sm="row" layout="column")
		div.column(flex)
			ul.address
				li Madeira Interactive Technologies Institute
				li Polo Científico e Tecnológico da Madeira, floor -2
				li Caminho da Penteada
				li 9020-105 Funchal
				li Portugal
			br
			p Telephone: +351 291 721 006


			div(class="alert alert-info")
				p For any questions, you can contact us through email
				p
					| Mail to:
					a(href="mailto:lucas@m-iti.org?subject=SustData%20Online%20Query" target="_blank") lucas@m-iti.org

				p Subject: SustData: Online query
		div.column(flex)
			div(class="slider-container carousel slide" data-ride="carousel")
				// Indicators
				ol.carousel-indicators
					li(data-target=".slider-container" data-slide-to="0" class="active")
					li(data-target=".slider-container" data-slide-to="1")
					li(data-target=".slider-container" data-slide-to="3")

				// Wrapper for slides
				div.carousel-inner
					div(class="item active")
						img(src="/img/ICT4S_slides_.001.jpg" alt="")
						div(class="carousel-caption")
					div(class="item")
						img(src="/img/ICT4S_slides_.002.jpg" alt="")
						div(class="carousel-caption") ...
					div(class="item")
						img(src="/img/ICT4S_slides.001.png" alt="")
						div(class="carousel-caption") ...

				// Controls
				a(class="left carousel-control" href=".slider-container" role="button" data-slide="prev")
					span(class="glyphicon glyphicon-chevron-left")
				a(class="right carousel-control" href=".slider-container" role="button" data-slide="next")
					span(class="glyphicon glyphicon-chevron-right")
