.accordion-item {
  margin-top: 10px;
  border-bottom: 1px solid #009688;
}
.accordion-item.expanded {
  border-bottom: 2px solid #009688;
}
.accordion-item .pointer {
  cursor: pointer;
}
.accordion-item .body {
  background-color: white;
  padding-bottom: 20px;
}
.accordion-item .body .hide {
  display: none;
}
.md-dialog-content.explorer-filters {
  padding: 10px;
}
.md-dialog-content.explorer-filters .accordion-item {
  padding: 0 10px;
}
.md-dialog-content.explorer-filters md-input-container {
  margin-bottom: 0px;
}
.md-dialog-content.explorer-filters md-input-container .md-errors-spacer {
  display: none;
}
