extends ../template

block main_container
	// javascript
	script(src="/javascripts/user/user.js")

	div(class="auth-container")
		div.panel-heading Password recovery
		div(class="panel-body pwd-recovery-container-js" style="padding: 0px;")
			// Login form
			form(role="form" id="pwd-recovery-form-js")
				input(name="user", type="hidden", value="#{user}")
				input(name="hash", type="hidden", value="#{hash}")

				// New password
				div(class="form-group  col-xs-12")
					input(name="password",  placeholder="New password", type="password", class="form-control", id="password-js")
				div(class="form-group  col-xs-12")
					input(name="password_confirm", placeholder="Password Confirmation", type="password", class="form-control", id="password-confirm-js")
				input(type="submit" style="display: none;")
			div(class="btns-container col-xs-12")
				button(class="btn btn-primary log-in-btn recover-pwd-btn-js") Submit
		