// Login form
form(role="form" id="login-form")
	div(class="form-group  col-xs-12")
		input(name="username",  placeholder="Email", type="text" class="form-control")
	div(class="form-group  col-xs-12")
		input(name="password", placeholder="Password", type="password" class="form-control")
	input(type="submit" style="display: none;")