extends ../../template
block main_container
	div.profile-container.profile-container-js
		div.page-header
			h4 Profile

		div(layout="row")
			div(class="panel panel-default profile-info-js" flex)
				include profileInfo.jade
			div(class="panel panel-default activity-log-container-js" flex)
				include activityLog.jade

block append js
	script(src="/js/user/user.js")
	script.
		$(document).ready(function($){
			var $timeline_block = $('.cd-timeline-block');
			//hide timeline blocks which are outside the viewport
			/*
			$timeline_block.each(function(){
				if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
					$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
				}
			});
			//on scolling, show/animate timeline blocks when enter the viewport

			$(window).on('scroll', function(){
				$timeline_block.each(function(){
					if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
						$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
					}
				});
			});
			*/
		});
