md-table-container.raw-data table.md-table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
md-table-container.raw-data table.md-table thead.md-head > tr.md-row {
  height: 36px;
}
md-table-container.raw-data table.md-table td.md-cell {
  font-size: 10px;
}
md-table-container.raw-data table.md-table tbody.md-body > tr.md-row,
md-table-container.raw-data table.md-table tfoot.md-foot > tr.md-row {
  height: auto;
}
md-table-container.raw-data table.md-table:not(.md-row-select) td.md-cell:first-child {
  padding: 5px;
}
md-table-container.raw-data table.md-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
