doctype html
html
head
	title= title

	block css
		// css
		link(rel="stylesheet", href="/build/vendors/_bower.css")
		link(rel="stylesheet", href="/css/template.css")
		link(rel="stylesheet", href="/css/horizontalNav.css")
		link(rel="stylesheet", href="/css/user.css")
		link(rel="stylesheet", href="/css/datasetExplorer.css")
		link(rel="stylesheet", href="/css/about.css")
		link(rel="stylesheet", href="/css/directDownload.css")
		link(rel="stylesheet", href="/css/contacts.css")
		link(rel="stylesheet", href="/css/timeline.css")

		// javascript
		script(src="/components/jquery/dist/jquery.min.js")
		script(src="/components/jquery-ui/jquery-ui.min.js")
		script(src="/build/vendors/_bower.js")

		body(ng-app="openDataHubApp")
			div#site-url(data-site_url="#{config.web.site_url}:#{config.web.port}")

			include template/header.jade

			div.wrap-content
				div.main-container
					block main_container

			include template/footer.jade

			// General jquery UI dialogs
			div#errors-container-js

			div#success-messages-js

			div#data-consult-form-dialog-js

			div#slider(style="display: none")

// javascript
block js
	script(src="/build/min/allinone.min.js")
	script(src="js/app.js")
	script(src="build/common-bundle.js")
	if ENV_DEVELOPMENT
		script(src="http://localhost:35729/livereload.js")
