doctype html
html
head
	title= title

	block css
		// css
		link(rel='stylesheet', href='/components/jquery-ui-1.10.4.custom/css/smoothness/jquery-ui-1.10.4.custom.css')
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/css/template.css')
		link(rel='stylesheet', href='/css/horizontalNav.css')
		link(rel='stylesheet', href='/css/user.css')
		link(rel='stylesheet', href='/css/datasetExplorer.css')
		link(rel='stylesheet', href='/css/about.css')
		link(rel='stylesheet', href='/css/directDownload.css')
		link(rel='stylesheet', href='/css/contacts.css')
		link(rel='stylesheet', href='/components/jquery-switchbutton-master/ui.switchbutton.min.css')

		link(rel='stylesheet', href='/css/timeline.css')
		link(href='http://www.jqueryscript.net/css/jquerysctipttop.css', rel='stylesheet', type='text/css')
		link(href='/css/fonts.googleapis.css' rel='stylesheet' type='text/css')

	block js
		// javascript
		script(src="/components/jquery-2.1.0.js")
		script(src="/components/bootstrap-3.2.0-dist/js/bootstrap.js")
		script(src="/js/template.js")
		script(src="/js/datasetExplorer.js")
		script(src="/components/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")
		script(src="/components/blockUI.js")
		script(src="/components/spin.js")
		script(src="/components/timepicker.js")
		script(src="/components/Chart.js-master/Chart.js")
		script(src="/components/jquery.tmpl.min.js")
		script(src="/components/jquery-switchbutton-master/jquery.switchbutton.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js")
		script(src="/components/modernizr.js")
		script(src="/js/analytics.js")
		script(src='/components/canvasjs-1.5.5/canvasjs.min.js')

		script(src="http://www.amcharts.com/lib/3/amcharts.js")
		script(src="http://www.amcharts.com/lib/3/serial.js")
		script(src="http://www.amcharts.com/lib/3/themes/dark.js")
		script(src="http://www.amcharts.com/lib/3/themes/none.js")

		// script(data-main="../../components/main" src="../../components/require.js")


		if ENV_DEVELOPMENT
			script(src='http://localhost:35729/livereload.js')

	body
		div#site-url(data-site_url='#{config.web.site_url}:#{config.web.port}')

		include template/header.jade

		div.wrap-content
			div.main-container
				block main_container

		include template/footer.jade

		// General jquery UI dialogs
		div#errors-container-js

		div#success-messages-js

		div#data-consult-form-dialog-js

		div#slider(style="display: none")

script.
	$(function(){
		$(".common:checkbox").switchbutton();
	});
