<div class="actions-container">
  <md-content layout="column" ng-cloak>
    <div class="lock-size" layout="row" layout-align="end center">
      <md-fab-speed-dial md-open="isOpen" md-direction="left" ng-class="selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-primary">
            <!-- <i class="fa" ng-class="{'fa-arrow-left': !isOpen, 'fa-arrow-right': isOpen}"></i> -->
            <i class="fa fa-gears"></i>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button
            class="md-fab md-raised md-mini"
            aria-label="Download CSV"
            ng-click="downloadDatasetData('csv')"
            >
            <md-tooltip md-direction="bottom">Download CSV</md-tooltip>
            <i class="fa fa-file-excel-o"></i>
          </md-button>
          <md-button
            class="md-fab md-raised md-mini"
            aria-label="Download JS"
            ng-click="downloadDatasetData('json')"
            >
            <md-tooltip md-direction="bottom">Download JSON</md-tooltip>
            <i class="fa fa-file-text-o"></i>
          </md-button>
          <md-button
            class="md-fab md-raised md-mini"
            aria-label="Raw data"
            ng-click="mode = 'table'"
            >
            <md-tooltip md-direction="bottom">Raw data</md-tooltip>
            <i class="fa fa-list"></i>
          </md-button>
          <md-button
            class="md-fab md-raised md-mini"
            aria-label="Chart"
            ng-click="mode = 'chart'"
            >
            <md-tooltip md-direction="bottom">Chart</md-tooltip>
            <i class="fa fa-area-chart"></i>
          </md-button>
          <md-button class="md-fab md-raised md-mini" aria-label="Filters" ng-click="showFiltersForm($event)">
            <md-tooltip md-direction="bottom">Filters</md-tooltip>
            <i class="fa fa-filter"></i>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </md-content>
</div>
