<md-table-container class="raw-data">
  <table md-table md-progress="promise">
    <thead md-head>
      <tr md-row>
        <th md-column ng-repeat="header in data.headers"><span>{{ header.label }}</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="row in data.rows">
        <td
          md-cell
          ng-repeat="header in data.headers"
          >
          {{ header.type == 'date' ? (row[header.field] | date:'yyyy-MM-dd HH:mm') : row[header.field] }}
        </td>

        <!-- <td md-cell ng-repeat="header in data.headers">{{ row[header.field] }}</td> -->
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
