<md-sidenav class="left-side-navigation md-sidenav-left md-whiteframe-z2" md-component-id="left-nav" md-is-locked-open="$mdMedia('gt-sm')">
  <div class="content" layout="column">
    <!-- navigation between the collections -->
    <section hide-gt-sm>
      <oph-main-navigation></oph-main-navigation>
    </section>

    <section hide-gt-sm>
      <md-divider></md-divider>
      <h6 class="text-center">Collections</h6>
      <md-divider></md-divider>
    </section>

    <!-- navigation between the collections -->
    <section>
      <oph-collections-nav></oph-collections-nav>
    </section>
  </div>
</md-sidenav>
